/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  color: var(--white-color);
}

.list {
  list-style: none;
}

img {
  display: block;
}

.booking-block, .prices__btn, .prices, .container {
  margin-right: auto;
  margin-left: auto;
}

:root {
  --accent-color: #ff6c00;
  --white-color: #ffffff;
  --primary-color: #303030;
  --uptitle-secondary-color: rgba(157, 164, 189, 0.6);
  --color-on-dark-bg: #9da4bd;
  --text-color: #555555;
  --bg-image-color: #191c26;
  --bg-image-color-2: #111319;
  --bg-color: #f7f7f7;
  --bg-image-color: rgba(17, 19, 25, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background-color: var(--white-color);
  color: var(--primary-color);
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  width: 160px;
  padding-right: auto;
  padding-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
}
.button:hover {
  color: var(--accent-color);
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden2 {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  text-transform: uppercase;
}
.uptitle::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
  vertical-align: middle;
}

.title {
  font-family: "Raleway";
  font-weight: 200;
  font-size: 42px;
  line-height: 1.1667;
  letter-spacing: 0.05em;
}

.subtitle {
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.text {
  font-size: 14px;
  line-height: 1.8571;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 20px;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 130px;
}
.header__contacts {
  margin-right: 40px;
}
.header__contacts {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-transform: uppercase;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-list__item:not(:last-child) {
  margin-right: 30px;
}
.nav-list__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__btn {
  margin-right: 20px;
}
.contacts__tel:hover, .contacts__tel:focus {
  color: var(--accent-color);
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.hero__list-wrap {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 27px;
}
.hero__main {
  background-color: var(--bg-image-color);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))) no-repeat, url(../images/hero1.jpg) 0 0/cover no-repeat;
  background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)) no-repeat, url(../images/hero1.jpg) 0 0/cover no-repeat;
  padding: 272px 0 208px 100px;
  width: 100%;
}
.hero__uptitle {
  color: var(--uptitle-secondary-color);
}
.hero__title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.1806;
  letter-spacing: 0.05em;
  color: var(--white-color);
}
.hero__subtitle {
  width: 370px;
  font-size: 18px;
  line-height: 1.1667;
  letter-spacing: 0.02em;
  color: var(--color-on-dark-bg);
}

.social-list {
  -webkit-transform: rotate(-90deg) translateY(100%);
          transform: rotate(-90deg) translateY(100%);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.social-list::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background: var(--uptitle-secondary-color);
}
.social-list__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.2em;
  color: var(--primary-color);
}
.social-list__link:hover, .social-list__link:focus {
  color: var(--accent-color);
}

.about {
  padding: 120px 0;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about__main {
  padding-right: 100px;
}
.about__uptitle {
  margin-bottom: 20px;
  color: var(--primary-color);
}
.about__title {
  margin-bottom: 20px;
}
.about__subtitle {
  margin-bottom: 20px;
}
.about__text {
  margin-bottom: 42px;
}
.about__btn {
  color: var(--primary-color);
}

.prices {
  background-color: var(--bg-image-color-2);
  background-image: url(../images/services.png);
  max-width: 1600px;
  height: 692px;
  padding-top: 116px;
  padding-bottom: 124px;
}
.prices__uptitle {
  color: var(--uptitle-secondary-color);
  margin-bottom: 20px;
}
.prices__title {
  margin-bottom: 44px;
  color: var(--white-color);
}
.prices__list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 44px;
}
.prices__prices-list {
  width: calc((100% - 30px) / 2);
}
.prices__prices-list:first-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices__prices-list:last-child {
  background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices__btn {
  display: block;
}

.prices-list {
  padding: 30px 20px;
}
.prices-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.prices-list__item:not(:last-child) {
  margin-bottom: 20px;
}
.prices-list__item:before {
  content: "";
  margin-right: 12px;
  margin-left: 12px;
  height: 1px;
  width: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  background-color: rgba(157, 164, 189, 0.12);
}
.prices-list__text {
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;
  color: var(--color-on-dark-bg);
}
.prices-list__text:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.benefits {
  padding: 120px 0;
}
.benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.benefits__list-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  width: 50%;
  padding: 0 100px;
}
.benefits__item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background: var(--bg-color);
}
.benefits__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571;
  letter-spacing: 0.05em;
  text-align: center;
}
.benefits__superscript {
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: var(--accent-color);
}
.benefits__descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  text-align: center;
}
.benefits__main {
  width: 50%;
}
.benefits__uptitle {
  margin-bottom: 20px;
}
.benefits__title {
  margin-bottom: 20px;
  padding-right: 140px;
}
.benefits__subtitle {
  padding-right: 70px;
}

.benefits-first__item:not(:first-child) {
  margin-top: 30px;
}

.benefits-second__item {
  margin-top: 30px;
}
.benefits-second__item:first-child {
  margin-top: 35px;
}

.barbers {
  padding: 120px 0;
  background: var(--bg-color);
}
.barbers__uptitle {
  margin-bottom: 20px;
}
.barbers__title {
  margin-bottom: 44px;
}
.barbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.barbers__card {
  padding: 30px 82px 0 82px;
}
.barbers__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.3889;
  letter-spacing: 0.02em;
  text-align: center;
}
.barbers__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.3571;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.social-link__item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}
.social-link__icon-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
}
.social-link__icon-link:hover, .social-link__icon-link:focus {
  color: var(--accent-color);
}
.social-link__icon-link {
  fill: currentColor;
}

.portfolio {
  padding: 120px 0;
}
.portfolio__uptitle {
  margin-bottom: 44px;
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.booking-block {
  background-color: var(--bg-image-color);
  background-image: url(../images/contacts.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
  max-width: 1600px;
  padding: 130px 0 120px 0;
}
.booking-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.booking-form {
  width: calc(50% + 15px);
}
.booking-form__title {
  margin-bottom: 44px;
  color: var(--white-color);
}

.contacts-form {
  width: calc(50% - 15px);
  padding-left: 100px;
}
.contacts-form__title {
  margin-bottom: 40px;
  color: var(--white-color);
}
.contacts-form__address {
  margin-bottom: 70px;
}
.contacts-form__uptitle {
  margin-bottom: 20px;
  color: var(--white-color);
}
.contacts-form__subtitle {
  color: var(--color-on-dark-bg);
}

.form__field-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}
.form__label {
  width: calc((100% - 30px) / 2);
}
.form__input {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  display: block;
  padding-bottom: 8px;
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: transparent;
}
.form__input:hover, .form__input:focus, .form__textarea:hover, .form__textarea:focus {
  border-bottom: 1px solid var(--white-color);
}
.form__textarea {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  width: 100%;
  height: 76px;
  margin-bottom: 44px;
  resize: none;
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: transparent;
}
.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.form__input::-moz-placeholder, .form__textarea::-moz-placeholder {
  -moz-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  -ms-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.form__input::placeholder, .form__textarea::placeholder {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}
.form__input:focus::-webkit-input-placeholder, .form__textarea:focus::-webkit-input-placeholder, .form__input:hover::-webkit-input-placeholder, .form__textarea:hover::-webkit-input-placeholder {
  color: var(--white-color);
}
.form__input:focus::-moz-placeholder, .form__textarea:focus::-moz-placeholder, .form__input:hover::-moz-placeholder, .form__textarea:hover::-moz-placeholder {
  color: var(--white-color);
}
.form__input:focus:-ms-input-placeholder, .form__textarea:focus:-ms-input-placeholder, .form__input:hover:-ms-input-placeholder, .form__textarea:hover:-ms-input-placeholder {
  color: var(--white-color);
}
.form__input:focus::-ms-input-placeholder, .form__textarea:focus::-ms-input-placeholder, .form__input:hover::-ms-input-placeholder, .form__textarea:hover::-ms-input-placeholder {
  color: var(--white-color);
}
.form__input:focus::placeholder, .form__textarea:focus::placeholder, .form__input:hover::placeholder, .form__textarea:hover::placeholder {
  color: var(--white-color);
}

.address {
  max-width: 270px;
}
.address__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;
  color: var(--color-on-dark-bg);
}
.address__link:not(:last-child) {
  margin-bottom: 20px;
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}
.address__social-network {
  margin-right: 16px;
  stroke: currentColor;
}
.address__map-link {
  font-weight: 700;
}
.address__tel-link, .address__mail-link {
  font-weight: 400;
}
.address__mail-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.address__map-link .address__social-network {
  margin-top: 5px;
  -ms-flex-item-align: start;
      align-self: start;
}

.footer {
  padding: 56px 0;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: none;
          transform: none;
  -webkit-transform-origin: none;
          transform-origin: none;
}
.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.2em;
  color: var(--color-on-dark-bg);
}

.backdrop-origin {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(229, 229, 229, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-origin__modal {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: 83px;
  left: 50%;
  width: 1000px;
  min-height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 27px;
  background-color: transparent;
}
.backdrop-origin__btn-wrap {
  width: calc((100% - 27px) / 2);
  padding-top: 40px;
  padding-left: 69px;
  padding-right: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.backdrop-origin__btn {
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-color);
}

.dark {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.light {
  background-color: var(--white-color);
}

.transparent {
  color: inherit;
  background-color: transparent;
}

.accent-bg {
  background-color: var(--accent-color);
}

.backdrop-with-form {
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 108, 0, 0.5);
}
.backdrop-with-form__modal {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 650px;
  background-color: var(--white-color);
  z-index: 100;
}
.backdrop-with-form__close-btn {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -10px;
  right: -10px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-color: var(--white-color);
  color: var(--primary-color);
}
.backdrop-with-form__close-btn:hover, .backdrop-with-form__close-btn:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.backdrop-with-form__close-icon {
  fill: currentColor;
}
.backdrop-with-form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-color);
}

.backdrop-form__input-wrap {
  position: relative;
  padding-top: 18px;
  width: 100%;
  margin-bottom: 22px;
  color: var(--primary-color);
}
.backdrop-form__input-wrap:nth-child(n+3) {
  margin-bottom: 10px;
}
.backdrop-form__input {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.backdrop-form__input:focus, .backdrop-form__input:hover {
  border: 1px solid var(--accent-color);
}
.backdrop-form__input:focus ~ .backdrop-form__input-icon, .backdrop-form__input:hover ~ .backdrop-form__input-icon {
  color: var(--accent-color);
}
.backdrop-form__input:not(:-moz-placeholder-shown) + .backdrop-form__label {
  transform: translateY(-40px);
  color: var(--accent-color);
}
.backdrop-form__input:not(:-ms-input-placeholder) + .backdrop-form__label {
  transform: translateY(-40px);
  color: var(--accent-color);
}
.backdrop-form__input:focus + .backdrop-form__label, .backdrop-form__input:hover + .backdrop-form__label, .backdrop-form__input:not(:placeholder-shown) + .backdrop-form__label {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  color: var(--accent-color);
}
.backdrop-form__input:not(:focus):not(:-moz-placeholder-shown):invalid {
  background-color: rgba(255, 0, 0, 0.5);
}
.backdrop-form__input:not(:focus):not(:-ms-input-placeholder):invalid {
  background-color: rgba(255, 0, 0, 0.5);
}
.backdrop-form__input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(255, 0, 0, 0.5);
}
.backdrop-form__input:not(:focus):not(:-moz-placeholder-shown):valid {
  background-color: rgba(0, 255, 0, 0.5);
}
.backdrop-form__input:not(:focus):not(:-ms-input-placeholder):valid {
  background-color: rgba(0, 255, 0, 0.5);
}
.backdrop-form__input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 255, 0, 0.5);
}
.backdrop-form__input:not(:focus):not(:-moz-placeholder-shown):invalid ~ .error {
  display: block;
}
.backdrop-form__input:not(:focus):not(:-ms-input-placeholder):invalid ~ .error {
  display: block;
}
.backdrop-form__input:not(:focus):not(:placeholder-shown):invalid ~ .error {
  display: block;
}
.backdrop-form__label {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  bottom: 11px;
  left: 42px;
  font-size: 12px;
  line-height: 1, 17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.backdrop-form__input-icon {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: currentColor;
}
.backdrop-form__textarea {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  padding: 5px;
  width: 100%;
  height: 40px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.backdrop-form__textarea:hover, .backdrop-form__textarea:focus {
  border: 1px solid var(--accent-color);
}
.backdrop-form__textarea-label {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.backdrop-form__radio-wrap {
  margin-bottom: 10px;
}
.backdrop-form__check-label {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.backdrop-form__check-label:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/send.svg);
  background-position: center;
  background-size: contain;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-form__check-input:checked + .backdrop-form__check-label {
  color: var(--accent-color);
}
.backdrop-form__check-input:checked + .backdrop-form__check-label:after {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}
.backdrop-form__sign-btn {
  display: block;
  margin-left: auto;
  color: var(--primary-color);
}

.error {
  position: absolute;
  bottom: -15px;
  right: 0;
  display: none;
  color: #ff0000;
  font-size: 12px;
}

.radio-off-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.radio-off-style__radio-icon {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}
.radio-off-style__input:checked ~ .radio-off-style__icon, .radio-off-style__input:checked + .radio-off-style__label {
  color: var(--accent-color);
}
.radio-off-style__label {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.radio-off-style__icon {
  fill: currentColor;
}

.radio-name__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.radio-name__label {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.radio-name__label:before {
  content: "";
  display: block;
  width: 40px;
  height: 22px;
  background-color: var(--color-on-dark-bg);
  border-radius: 50px;
  margin-right: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.radio-name__label:after {
  content: "";
  width: 18px;
  height: 18px;
  background-color: var(--white-color);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.radio-name__input:checked + .radio-name__label {
  color: var(--accent-color);
}
.radio-name__input:checked + .radio-name__label:before {
  background-color: var(--white-color);
  border: 1px solid var(--accent-color);
}
.radio-name__input:checked + .radio-name__label:after {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
  background-color: var(--accent-color);
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}/*# sourceMappingURL=main.css.map */