/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  color: var(--white-color);
}

.list {
  list-style: none;
}

img {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

:root {
  --accent-color: #ff6c00;
  --white-color: #ffffff;
  --primary-color: #303030;
  --uptitle-secondary-color: rgba(157, 164, 189, 0.6);
  --color-on-dark-bg: #9da4bd;
  --text-color: #555555;
  --bg-image-color: #191c26;
  --bg-image-color-2: #111319;
  --bg-color: #f7f7f7;
  --bg-image-color: rgba(17, 19, 25, 1);
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background-color: var(--white-color);
  color: var(--primary-color);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  width: 160px;
  padding-right: auto;
  padding-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: transparent;
  border: 2px solid var(--accent-color);
}
.button:hover {
  color: var(--accent-color);
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden2 {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  text-transform: uppercase;
}
.uptitle::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
  vertical-align: middle;
}

.title {
  font-family: "Raleway";
  font-weight: 200;
  font-size: 42px;
  line-height: 1.1667;
  letter-spacing: 0.05em;
}

.subtitle {
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.text {
  font-size: 14px;
  line-height: 1.8571;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.barbers {
  padding-top: 84px;
  padding-bottom: 84px;
  background: var(--bg-color);
}
@media screen and (min-width: 768px) {
  .barbers {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .barbers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.barbers__uptitle {
  margin-bottom: 20px;
}
.barbers__title {
  margin-bottom: 44px;
}
.barbers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 64px;
}
@media screen and (min-width: 1200px) {
  .barbers__list {
    gap: 30px;
  }
}
.barbers__item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .barbers__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .barbers__item {
    width: calc((100% - 60px) / 3);
  }
}
.barbers__card {
  padding: 30px 82px 0 82px;
}
.barbers__name {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.3889;
  letter-spacing: 0.02em;
  text-align: center;
}
.barbers__position {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.3571;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
.social-link__item {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}
.social-link__icon-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--primary-color);
}
.social-link__icon-link:hover, .social-link__icon-link:focus {
  color: var(--accent-color);
}
.social-link__icon-link {
  fill: currentColor;
}

.portfolio {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 106px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.portfolio__uptitle {
  margin-bottom: 71px;
}
@media screen and (min-width: 768px) {
  .portfolio__uptitle {
    margin-bottom: 44px;
  }
}
.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolio__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: calc((100% - 90px) / 4);
  }
}/*# sourceMappingURL=main.css.map */