/* * { 
  margin: 0;
  padding: 0;
  border: 0;
}*/
/* ----------------------------------------------------------------general styles */
:root {
  --accent-color: #ff6c00;
  --white-color: #ffffff;
  --primary-color: #303030;
  --uptitle-secondary-color: rgba(157, 164, 189, 0.6);
  --color-on-dark-bg: #9da4bd;
  --text-color: #555555;
  --bg-image-color: #191c26;
  --bg-color: #F7F7F7;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;

  background-color: var(--white-color);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* ----------------------------------------------------------------utilits */

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  text-decoration: none;

  color: var(--white-color);
}

.list {
  list-style: none;
}

.button {
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  width: 160px;
  padding-right: auto;
  padding-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 600;
  line-height: 1.3333;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: transparent;

  border: 2px solid var(--accent-color);
  box
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  text-transform: uppercase;
}

.title {
  font-family: 'Raleway';
  font-size: 42px;
  line-height: 1.1667;
  letter-spacing: 0.05em;
}

.white {
  color: var(--white-color);
}

.subtitle {
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

.text {
  font-size: 14px;
  line-height: 1.8571;
  letter-spacing: 0.02em;

  color: var(--text-color);
}

/* ----------------------------------------------------------------header */

.header {
  background-color: var(--color-on-dark-bg);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 20px;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 130px;
}

.header-list {
  display: flex;
}

.header-list .item:not(:last-child) {
  margin-right: 30px;
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--accent-color);
}

.booking .header-contacts {
  margin-right: 40px;
}

.booking .header-btn {
  margin-right: 20px;
}

.header-contacts {
  text-transform: uppercase;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-btn {
}

/* ----------------------------------------------------------------hero */

.hero {
}

.hero-wrapper {
  display: flex;
}

.hero-list {
}

.hero-list .item {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  margin-left: 27px;
  margin-right: 58px;
}

.hero-list .item:first-child {
  margin-top: 370px;
  margin-bottom: 40px;
}

.hero-main {
  background: url(../images/hero1.jpg) 0 0 / cover no-repeat;
  padding: 272px 0 208px 100px;
  width: 100%;
}

.hero-uptitle {
  color: var(--uptitle-secondary-color);
  padding-left: 80px;
}

.hero-title {
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.1806;
  letter-spacing: 0.05em;

  color: var(--white-color);
}

.hero-subtitle {
  width: 370px;

  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;

  color: var(--color-on-dark-bg);
}

.hero .link {
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.2em;

  color: var(--primary-color);
}

.hero .link:hover,
.hero .link:focus {
  color: var(--accent-color);
}

/* ----------------------------------------------------------------about */

.about-wrapper {
  display: flex;
}

.about {
  padding: 120px 0;
}

.about-list {
  display: flex;
}

.about-list .item {
  margin-right: 30px;
}

.about-main {
  padding-right: 100px;
}

.about-main .uptitle {
  margin-bottom: 20px;
  padding-left: 80px;
}

.about-main .title {
  margin-bottom: 20px;
}

.about-main .subtitle {
  margin-bottom: 20px;
}

.about-main .text {
  margin-bottom: 42px;
}

.about-btn {
  color: var(--primary-color);
}

/* ----------------------------------------------------------------Services and prices */

.prices {
  background-image: url(../images/services.jpg);
  padding-top: 116px;
  padding-bottom: 124px;
}

.prices-uptitle {
  color: var(--uptitle-secondary-color);
  padding-left: 80px;
  margin-bottom: 20px;
}

.prices .title{
   margin-bottom: 44px;
}

.services-prices{
   display: flex;
   justify-content: space-between;
   gap: 30px;
   margin-bottom: 44px;
}

.services-prices .prices-list{
width: 50%;
}

.prices-list {
   padding: 30px 20px;
   background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-list .item{
   display: flex;
   justify-content: space-between;
}

.prices-list .item:not(:last-child){
   margin-bottom: 20px;
}

.prices-text {
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;

  color: var(--color-on-dark-bg);
}

.prices-btn{
   display: block;
   margin: 0 auto;
}

/* ----------------------------------------------------------------Why people come to us */

.why-people{
   padding: 120px 0;
}

.why-people-wrapper{
   display: flex;
   gap: 30px;

}

.why-people-list{
   display: flex;
   flex-wrap: wrap;
   width: 50%;
   padding: 0 100px;
}

.why-people-list .item{
   width: 170px;
   height: 133px;
   padding: 20px 24px;
   background: var(--bg-color);
}

.why-people-list .item:nth-child(2n){
   margin-top: 30px;
}

.why-people-list .item:nth-child(2n+1){
   margin-right: 30px;
}

.numbers {
   display: block;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571;
  text-align: center;
  letter-spacing: 0.05em;
}

.numbers sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;

  color: var(--accent-color);
}

.descr {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  text-align: center;
}

.why-people-main{
   width: 50%;
}

.why-people-main .uptitle{
   margin-bottom: 20px;
   padding-left: 80px;
}

.why-people-main .title{
   margin-bottom: 20px;
   padding-right: 140px;
}

.why-people-main .subtitle{
   padding-right: 70px;
}

/* ----------------------------------------------------------------our barbers*/

.barbers{
   padding: 120px 0;
   background: var(--bg-color);
}

.barbers .uptitle{
   margin-bottom: 20px;
   padding-left: 80px;
}

.barbers .title{
   margin-bottom: 44px;
}

.barbers-list{
   display: flex;
   gap: 30px;
}

.barbers-card{
   padding: 30px 82px 0 82px;
}

.barbers-name {
   margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.3889;
  text-align: center;
  letter-spacing: 0.02em;
}

.position {
   margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.3571;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.social-link{
   display: flex;
   justify-content: space-between;
   list-style: none;
}

.social-link .item{
   width: 44px;
   height: 44px;
   background-color: #ffffff;
   border-radius: 50%;
}

/* ----------------------------------------------------------------portfolio */

.portfolio{
   padding: 120px 0;
}

.portfolio .uptitle{
   margin-bottom: 44px;
   padding-left: 80px;
}

.portfolio-list {
   display: flex;
   gap: 30px;
}

/* ----------------------------------------------------------------online booking and contacts */

.booking-form {
  background-color: var(--bg-image-color);
  padding: 130px 0 120px 0;
}

.booking-form-wrapper{
   display: flex;
   gap: 30px;
}

.booking{
   width: 50%;
}

.booking .title{
   margin-bottom: 44px;
}

.input-field {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);

  background-color: transparent;
  border: none;
}

.contacts {
   width: 50%;
   padding-left: 100px;
}

.contacts .title{
   margin-bottom: 40px;
}

.contacts .uptitle{
   margin-bottom: 20px;
   padding-left: 80px;
}

.address{
   max-width: 270px;
   margin-bottom: 70px;
}

.address .link {
   padding-left: 40px;
   display: inline-block;

  font-style: normal;
  font-size: 18px;
  line-height: 1.6667;
  letter-spacing: 0.02em;
  color: var(--color-on-dark-bg);
}

.address .link:not(:last-child){
   margin-bottom: 20px;
}

.address .map-link {
  font-weight: 700;
}

.address .tel-link,
.adress .mail-link {
  font-weight: 400;
}

.mail-link {
  text-decoration-line: underline;
}

.subtitle-contacts {
  color: var(--color-on-dark-bg);
}

/*---------------------------------------------------------------- footer */

.footer {
   padding: 56px 0;
}

.footer-wrapper{
   display: flex;
   justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.2em;
  color: var(--color-on-dark-bg);
}

.footer-list{
   display: flex;
   list-style: none;
}

.footer-list .link {
   margin-left: 40px;

  font-size: 11px;
  line-height: 1.3636;
  letter-spacing: 0.2em;
  color: var(--primary-color);
}
