.uptitle {
   @include font(600, 11px, 1.3636, null);
   text-transform: uppercase;

   &::before {
      content: "";
      display: inline-block;
      width: 60px;
      height: 1px;
      background-color: currentColor;

      margin-right: 20px;

      vertical-align: middle;

      @media screen and (max-width: 479px) {
         width: 30px;
         height: 2px;
      }
   }
}
