@mixin font($fw, $fz, $lh, $ls) {
   font-weight: $fw;
   font-size: $fz;
   line-height: $lh;
   letter-spacing: $ls;
}

@mixin transition($property) {
   transition: $property 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin flex($type, $jc, $ai) {
   display: $type;
   justify-content: $jc;
   align-items: $ai;
}
