:root {
  --accent-color: #ff6c00;
  --white-color: #ffffff;
  --primary-color: #303030;
  --uptitle-secondary-color: rgba(157, 164, 189, 0.6);
  --color-on-dark-bg: #9da4bd;
  --text-color: #555555;
  --bg-image-color: #191c26;
  --bg-image-color-2: #111319;
  --bg-color: #f7f7f7;
  --bg-image-color: rgba(17, 19, 25, 1);
  --gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
}
