.about {
   padding-top: 84px;
   padding-bottom: 84px;

   @include tablet {
      padding-top: 100px;
      padding-bottom: 100px;
   }

   @include desktop {
      padding-top: 120px;
      padding-bottom: 120px;
   }

   &__wrapper {
      display: flex;
      gap: 30px;
   }

   &__list {
      display: flex;
      gap: 30px;

      @media screen and (max-width: 767px) {
         display: none;
      }
   }

   &__main {
      @include desktop {
         padding-right: 100px;
      }
   }

   &__uptitle {
      margin-bottom: 20px;
      color: var(--primary-color);
   }

   &__title {
      margin-bottom: 20px;

      @media screen and (max-width: 1199px) {
         max-width: 310px;
      }
   }

   &__subtitle {
      margin-bottom: 20px;
   }

   &__text {
      margin-bottom: 40px;

      @include tablet {
         margin-bottom: 77px;
      }

      @include desktop {
         margin-bottom: 42px;
      }
   }

   &__btn {
      color: var(--primary-color);
   }
}
