.about {
   &__wrapper {
      display: flex;
      gap: 30px;
   }

   &__list {
      @media screen and (max-width: 767px) {
         display: none;
      }
 
      @include desktop{
         display: flex;
         gap: 30px;
      }
   }

   &__img-wrap:first-child{
      @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-bottom: 30px;
         }
   }

   &__img{
      @include desktop{
         max-width: 270px;
      }
   }

   &__main {
      @include desktop {
         padding-right: 100px;
      }
   }

   &__uptitle {
      margin-bottom: 20px;
      color: var(--primary-color);
   }

   &__title {
      margin-bottom: 20px;

      @media screen and (max-width: 1199px) {
         max-width: 310px;
      }
   }

   &__subtitle {
      margin-bottom: 20px;
   }

   &__text {
      margin-bottom: 40px;

      @include tablet {
         margin-bottom: 47px;
      }

      @include desktop {
         margin-bottom: 42px;
      }
   }

   &__btn {
      color: var(--primary-color);
   }
}
