.backdrop-origin {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   opacity: 1;
   background-color: rgba(229, 229, 229, 0.1);

   @include transition(opacity);
   @include transition(visibility);

   &__modal {
      transform: translateX(-50%);
      @include flex(flex, space-between, null);
      gap: 27px;

      position: absolute;
      top: 83px;
      left: 50%;
      width: 400px;
      min-height: 300px;

      background-color: transparent;

      @media screen and (max-width: 1199px) {
         flex-direction: column;
      }

      @include desktop {
         width: 1000px;
         min-height: 160px;
      }
   }

   &__btn-wrap {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;

      @include desktop {
         width: calc((100% - 27px) / 2);
         display: flex;
         justify-content: space-between;
         align-items: start;
         padding-left: 69px;
         padding-right: 69px;
      }
   }

   &__btn {
      cursor: pointer;
      border: 1px solid var(--accent-color);
      border-radius: 25px;
      padding: 12px 40px;

      @include font(600, 12px, 1.33, 0.09em);
      text-transform: uppercase;

      color: var(--white-color);
   }
}

.dark {
   background-color: var(--primary-color);
   color: var(--white-color);
}

.light {
   background-color: var(--white-color);
}

.transparent {
   color: inherit;
   background-color: transparent;
}

.accent-bg {
   background-color: var(--accent-color);
}
