.backdrop-with-form {
  z-index: 200;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--uptitle-secondary-color);

  &__modal {
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    background-color: var(--white-color);
    z-index: 100;

    @media screen and (max-width: 479px) {
      width: 305px;
      padding: 20px;
    }

    @include tablet {
      width: 528px;
    }
  }

  &__close-btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include flex(flex, center, center);
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    cursor: pointer;
    outline: none;

    background-color: var(--white-color);
    color: var(--primary-color);
  }

  &__close-btn:hover,
  &__close-btn:focus {
    fill: var(--white-color);
    background-color: var(--accent-color);
  }

  &__close-icon {
    fill: currentColor;
  }

  &__title {
    margin-bottom: 30px;

    @include font(700, 18px, 1.15, 0.03em);
    text-align: center;

    color: var(--primary-color);
  }
}
