.barbers {
   padding: 120px 0;
   background: var(--bg-color);

   &__uptitle {
      margin-bottom: 20px;
   }

   &__title {
      margin-bottom: 44px;
   }

   &__list {
      display: flex;
      gap: 30px;
   }

   &__card {
      padding: 30px 82px 0 82px;
   }

   &__name {
      margin-bottom: 8px;

      @include font(null, 18px, 1.3889, 0.02em);
      text-align: center;
   }

   &__position {
      margin-bottom: 30px;

      @include font(null, 14px, 1.3571, 0.02em);
      text-align: center;

      color: var(--accent-color);
   }
}
