.barbers {
   background: var(--bg-color);
   &__uptitle {
      margin-bottom: 20px;
   }

   &__title {
      font-size: 42px;
      line-height: 1.1667;
      margin-bottom: 44px;
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 64px;

      @media screen and (min-width: 1200px) {
         gap: 30px;
      }
   }

   &__item {
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      @media screen and (min-width: 768px) {
         max-width: 450px;
      }

      @media screen and (min-width: 1200px) {
         width: calc((100% - 60px) / 3);
      }
   }

   &__img {
      max-width: 100%;
   }

   &__card {
      padding: 30px 82px 0 82px;
   }

   &__name {
      margin-bottom: 8px;

      @include font(null, 18px, 1.3889, 0.02em);
      text-align: center;
   }

   &__position {
      margin-bottom: 30px;

      @include font(null, 14px, 1.3571, 0.02em);
      text-align: center;

      color: var(--accent-color);
   }
}
