.contacts-form {
   // width: calc(50% - 15px);
   // padding-left: 100px;

   background-position: center;
   background-size: cover;

   @media screen and (max-width: 767px) {
      padding: 84px 31px;
      background-color: var(--bg-image-color);
      background-image: url(../images/contacts-mob.png);
      @include retina {
         background-color: var(--bg-image-color);
         background-image: url(../images/contacts-mob@2x.png);
      }
   }

   &__title {
      margin-bottom: 40px;
      color: var(--white-color);

      @media screen and (min-width: 480px) and (max-width: 767px) {
         font-size: 42px;
         line-height: 1.17;
         text-align: center;
      }
   }

   &__address {
      margin-bottom: 44px;
      // margin-bottom: 70px;
   }

   &__uptitle {
      margin-bottom: 20px;
      color: var(--white-color);
   }

   &__subtitle {
      color: var(--color-on-dark-bg);
   }
}
