.footer {
   padding: 44px 0;

   @include tablet {
      padding: 56px 0;
   }

   &__wrapper {
      @include flex(flex, space-between, null);
   }
   &__list {
      display: flex;
      transform: none;
      transform-origin: none;
   }

   &__link {
      margin-right: 20px;
   }

   &__copyright {
      @include font(600, 11px, 1.3636, 0.2em);
      color: var(--color-on-dark-bg);

      @media screen and (max-width: 767px) {
         padding-top: 35px;
      }
   }
}
