.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;

   &__wrapper {
      @include flex(flex, space-between, center);
      padding-top: 32px;
      padding-bottom: 32px;
      padding-right: 20px;
   }

   &__menu {
      display: flex;
      align-items: center;
   }

   &__logo {
      margin-right: 130px;
   }

   &__nav{
      @media screen and (max-width: 767px){
         display: none;
      }
   }

   &__contacts-wrap{
      @media screen and (max-width: 767px){
         display: none;
      }
   }

   &__contacts {
      margin-right: 40px;

      @include transition(color);
      text-transform: uppercase;

      @media screen and (max-width: 767px){
         display: none;
      }
   }

   &__btn{
      @media screen and (max-width: 767px){
         display: none;
      }
   }

   &__mobile-btn{
      color: var(--white-color);
      border: none;
      background-color: transparent;

      @include tablet{
         display: none;
      }
   }

   &__burger-icon{
      fill: currentColor;
   }
}
