.hero {
   &__wrapper {
      display: flex;
      gap: 30px;
   }

   &__list-wrap {
      width: 70px;
      @include flex(flex, null, flex-end);
      padding-bottom: 40px;
      padding-left: 27px;
   }

   &__main {
      background-color: var(--bg-image-color);
      background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)) no-repeat,
         url(../images/hero1.jpg) 0 0 / cover no-repeat;
      padding: 272px 0 208px 100px;
      width: 100%;
   }

   &__uptitle {
      color: var(--uptitle-secondary-color);
   }

   &__title {
      margin-top: 20px;
      margin-bottom: 20px;

      font-family: "Raleway", sans-serif;
      @include font(null, 72px, 1.1806, 0.05em);

      color: var(--white-color);
   }

   &__subtitle {
      width: 370px;

      @include font(null, 18px, 1.1667, 0.02em);

      color: var(--color-on-dark-bg);
   }
}
