.hero {

   @include tablet{
      padding-right: 15px;
      padding-left: 15px;
   }

   @extend %margin-auto;

   @include mobile {
      max-width: 480px;
   }

   @include tablet {
      max-width: 768px;
   }

   @include desktop {
      max-width: 1200px;
   }
   &__wrapper {
      @include tablet{
         display: flex;
         gap: 30px;
      }

   
   }

   &__list-wrap {
      width: 70px;
      @include flex(flex, null, flex-end);
      padding-bottom: 40px;
      padding-left: 27px;

      @media screen and (max-width:767px){
         display: none;
      }
   }

   &__main {
      background-color: var(--bg-image-color);
      background-repeat: no-repeat;
      background-size: cover;
      background-position:  0 0 ;
      padding-top: 208px;
      padding-left: 31px;
      padding-bottom: 209px;
      width: 100%;
      background-image: var(--gradient), url(../../images/hero1-mob.jpg);
      @include retina{
         background-image: var(--gradient), url(../../images/hero1-mob@2x.jpg);
      }

      @include tablet {
         padding-top: 272px;
         padding-left: 120px;
         padding-bottom: 237px;
         background-image: var(--gradient), url(../../images/hero1-tab.jpg);
         @include retina{
            background-image: var(--gradient), url(../../images/hero1-tab@2x.jpg);
         }
      }

      @include desktop {
         padding-left: 100px;
         padding-bottom: 208px;
         background-image: var(--gradient), url(../../images/hero1.jpg);
         @include retina{
            background-image: var(--gradient), url(../../images/hero1@2x.jpg);
         }
      }
   }

   &__uptitle {
      color: var(--uptitle-secondary-color);
   }

   &__title {
      margin-top: 20px;
      margin-bottom: 20px;

      font-family: "Raleway", sans-serif;
      @include font(null, 48px, 1.1667, 0.05em);

      color: var(--white-color);

      @include desktop{
         font-size: 72px;
         line-height: 1.1806;
      }
   }

   &__subtitle {
      width: 370px;

      @include font(null, 16px, 1.625, 0.02em);

      color: var(--color-on-dark-bg);

      @include tablet{
         max-width: 336px;
         font-size: 18px;
         line-height: 1.6667;
      }
   }

   
}
