.nav-list {
   display: flex;

   &__item:not(:last-child) {
      margin-right: 30px;
   }

   &__link {
      @include transition(color);
   }

   &__link:hover,
   &__link:focus {
      color: var(--accent-color);
   }
}
