.portfolio {
   &__uptitle {
      margin-bottom: 71px;

      @include tablet {
         margin-bottom: 44px;
      }
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
   }

   &__item {
      @include tablet {
         width: calc((100% - 30px) / 2);
      }

      @include desktop {
         width: calc((100% - 90px) / 4);
      }
   }

   &__img {
      max-width: 100%;
   }
}
