.portfolio {
   &__uptitle {
      margin-bottom: 71px;

      @media screen and (min-width: 768px) {
         margin-bottom: 44px;
      }
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
   }

   &__item {
      max-width: 100%;

      @media screen and (min-width: 768px) {
         width: calc((100% - 30px) / 2);
      }

      @media screen and (min-width: 1200px) {
         width: calc((100% - 90px) / 4);
      }

      &__img{
         max-width: 100%;
      }
   }


}
