.prices-list {
   @include desktop{
      padding: 30px 20px;
   }

   &__item {
      @include flex(flex, null, baseline);
      margin-bottom: 20px;
   }

   &__item:last-child {
      @include desktop{
         margin-bottom: 0px;
      }
   }

   &__item:before {
      content: "";
      margin-right: 12px;
      margin-left: 12px;
      height: 1px;
      width: 50px;
      flex-grow: 1;
      display: block;
      background-color: rgba(157, 164, 189, 0.12);
   }

   &__text {
      @include font(null, 14px, 1.43, 0.02em);

      color: var(--color-on-dark-bg);

      @include tablet{
         font-size: 18px;
         line-height: 1.6667;
      }
   }

   &__text:first-child {
      order: -1;
   }
}
