.social-list {
   @include flex(flex, null, center);
   gap: 40px;

   @include tablet{
   transform: rotate(-90deg) translateY(100%);
   transform-origin: bottom left;
   }

   &::before {
      content: "";
      display: inline-block;
      width: 60px;
      height: 1px;
      background: var(--uptitle-secondary-color);
   }

   &__link {
      @include transition(color);

      @include font(null, 11px, 1.3636, 0.2em);
      color: var(--primary-color);
   }

   &__link:hover,
   &__link:focus {
      color: var(--accent-color);
   }
}
