.social-list {
  @include tablet {
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    @include flex(flex, null, center);
    gap: 40px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    position: relative;
    padding-left: 100px;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background: var(--primary-color);

    @media screen and (max-width: 479px) {
      display: none;
    }

    @media screen and (max-width: 767px) {
      position: absolute;
      top: 9px;
      left: 0;
    }
  }

  &__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include font(null, 11px, 1.3636, 0.2em);
    color: var(--primary-color);

    @media screen and (max-width: 767px) {
      font-size: 14px;
      margin-bottom: 24px;
      display: inline-block;
    }
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent-color);
  }
}
